<html>
<head>
<meta charset="UTF-8">
   <title>Otsuka User details</title>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</style>
</head>
<body> 
      <h1 align="center" style="color:#428bca">Otsuka User details</h1>
      <div  ng-show="!status" class ="container" style="padding: 69px 28px 33px 440px;">
      No userdata found!
   </div>
   
  <div class="col-xs-3" style="
    margin-bottom: 12px;
    margin-left: 100px; margin-top: 21px;" ng-show="status"><input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text" placeholder="Search"> 
   </div> 
   <div ng-controller="listController" ng-show="status">
   <button style="margin-top: 20px;margin-left: 700px;" class="btn btn-md btn-primary" ng-click="export()">Export to pdf</button>
  </div>
  
<div class="container" ng-show="status" >
     <div class="row" >
            <div class="col-md-12">
                <div class="table-responsive">
                  <form  id="empform">
                    <table id="mytable" class="table no-border">

                        <thead>
                        <th style="width:-10%;"> </th>
                         <th style="width:9%;">User Id</th>
                         <th style="width:15%;">User Name</th>
                        <th style="width:10%;">Roles</th>    
                        <th style="width:10%;">Privileges</th>                    
           				 <th style="width:20%;">Completed Trsgargsdfgsdfgsdfgsdfgainings</th>
						<th style="width: 15%;">Waived Trainings</th>
           				  <th style="width:15%;">Pending Trainings</th>
                         <th style="width:25%;">Technical Skills</th> 
                          <th style="width:25%;">Years Of Experience</th> 
                         <th style="width:25%;">Action</th>                     
                        </thead>
                        <tbody ng-repeat="user in users  | filter: searchKeyword" >
              <tr>
              
              <td>
            <a title="click icon to see more" class="btn btn-link" ng-init="toggle[$index] = false" ng-click="toggle[$index] = !toggle[$index]">
              <span class="glyphicon glyphicon-plus-sign" ng-if="!toggle[$index]"></span>
              <span class="glyphicon glyphicon-minus-sign" ng-if="toggle[$index]"></span>
            </a>
          </td>
                <td>
                   <input  name="empId{{$index}}" ng-model="user.userid" class="form-control" readonly=""/>
                </td>

                <td>
                    <input name="firstName{{$index}}" ng-model="user.username" class="form-control" readonly=""/>
                 </td>

                <td>
                  <input name="designation{{$index}}" ng-model="user.previleges"  class="form-control" readonly=""/>
                </td>

                 <td >
                  <input name="project{{$index}}" ng-model="user.actions"  class="form-control" readonly=""/>
                </td>
           
                  <td>       
                  <input name="project{{$index}}" ng-model="user.completedtrainings[0]" class="form-control" readonly=""/>
                  </td>

               									<td><input name="project{{$index}}"
										ng-model="user.waivedtrainings[0]" class="form-control"
										readonly="" />
									</td>
                  
                  <td> <a ng-href= "{{user.pendingtrainings2[0].url}}" target="_blank" >
                  <input name="project{{$index}}" style="color:red;cursor: pointer;" ng-model="user.pendingtrainings2[0].name" class="form-control" readonly=""/></a>
                </td>
               
                 <td>
                  <input name="project{{$index}}" ng-model="user.jd[0]" class="form-control" readonly=""/>
                </td>
                
                  <td>
                  <input name="project{{$index}}" id="project{{$index}}" ng-model="user.years[0]" class="form-control" readonly=""/>
                </td>

                <td >
                  <div class="buttons">
                    <button class="btn btn-md btn-success" id="editdetails_{{$index}}" ng-click="editEmployee($index, user)">Edit</button>
                  </div>  
                </td>
                
              </tr>
               <tr ng-if="toggle[$index]">
               <td></td>
           <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.previleges}}</td>
          <td>{{user.actions}}
           </td>
           <td>
          <span ng-repeat="u in user.completedtrainings | limitTo: (1 - user.completedtrainings.length) track by $index"> 
          <input  type="text" ng-model="u" class="form-control" name="user_id" readonly=""/></span>
          
          
          
           </td>
           
           <td>
                     <span ng-repeat="u in user.waivedtrainings | limitTo: (1 - user.waivedtrainings.length) track by $index"> 
          <input  type="text" ng-model="u" class="form-control" name="user_id" readonly=""/></span>
           
           </td>
           <td>

          <span ng-repeat="p in user.pendingtrainings2 | limitTo: (1 - user.pendingtrainings2.length) track by $index">
          <input  type="text" ng-model="p.name" class="form-control" name="user_id" style="color:red;cursor: pointer;" readonly=""/>
          </span>
          
           </td>
           <td>
          <span ng-repeat="jd in user.jd | limitTo: (1 - user.jd.length) track by $index">
          <input  type="text" ng-model="jd" class="form-control" name="user_id" readonly=""/></span>
           </td>
            <td>
          <span  ng-repeat="yoe in user.years | limitTo: (1 - user.years.length)  track by $index">
          <input  type="text" ng-model="yoe" class="form-control" name="user_id" /></span>
           </td>
           <td></td>
        </tr>
    </tbody>

                    </table>
                    <!--   <input type="submit" class="btn btn-md btn-primary" value="Submit" /> -->
                   </form>
                    <div class="clearfix"></div>
                 </div>

            </div>
  </div>
  </div>
 
    <script type="text/ng-template" id="userModel.html">
      <div class="modal-header">
        <h3 class="modal-title">User Detail</h3>
      </div>
      <div class="modal-body">
      <form name="userForm" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="col-xs-3 control-label">ID</label>
        <div class="col-xs-3">
            <input ng-model="userid" type="text" class="form-control" name="user_id" disabled="disabled" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">User Name</label>
        <div class="col-xs-5">
            <input type="text" ng-model="username" class="form-control" name="user_name" disabled="disabled"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Roles</label>
        <div class="col-xs-5">
            <input type="text" ng-model="roles" class="form-control" name="user_roles" disabled="disabled"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Privileges</label>
        <div class="col-xs-5">
            <input type="text" ng-model="privileges" class="form-control" name="user_privileges" disabled="disabled"/>
        </div>
    </div>

 <div class="form-group">
        <label class="col-xs-3 control-label">Experience</label>
        <div class="col-xs-5">
			<textarea class="form-control" ng-model="jd" id="jd" rows="3"></textarea>
        </div>
    </div>

<div class="form-group">
        <label class="col-xs-3 control-label">Yrs of Exp</label>
        <div class="col-xs-5">
            <input type="text" ng-model="years" class="form-control" ng-model="years" name="yrsofexp" id="years" placeholder="Experience" ng-pattern="/^[0-9_,]*/" required />
				<span class="help-block" style="color: red;" ng-show="!userForm.years.$valid">
                    Invalid Input!
                </span>
        </div>
    </div>
 
<div class="modal-footer">
		<button type="submit" class="btn btn-primary" ng-click="userForm.$valid && update()">Update</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>

</form>
      </div>
    </script>
 
</body>
    </html>
    