<link rel="stylesheet" href="css/login.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
 <div class="container" >
 <style type="text/css">
body {
	/* background: rgb(185, 210, 224) !important; */
	background :rgb(240, 248, 255)!important;
}
	/* Adding !important forces the browser to overwrite the default style applied by Bootstrap */

</style>
 
 
 
 	<div style="padding-left: 400px; padding-top: 50px;">
    <a class="header__home-link" href="https://www.otsuka-us.com/home">
    <img class="header__logo" src="images/Logo.gif" alt = "Otsuka"><h3 class="header__title">
    <span class="header__title-long">Welcome to Otsuka in the U.S.</span></h3></a>
    </div>
        
        
        <div class="card card-container" style="margin-left: 400px;" >
        <h2 class='login_title text-center'>Login</h2> <div></div>
        <hr>
		<div>
            <form class="form-signin"  name="myform">
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">User</p>                
                <input type="text"  id="inputEmail" class="login_box" ng-model="username" placeholder="Username"  required autofocus>
                <p class="input_title">Password</p>
                <input type="password" id="inputPassword" class="login_box" placeholder="******" ng-model="password" required>               
                <button  class="btn btn-lg btn-primary" type="submit" ng-click="myform.$valid && login()">Login</button>
            </form><!-- /form -->
            </div>
        </div><!-- /card-container -->
    </div><!-- /container -->