.menu-list{
    padding-left: 30px;
    padding-top: 20px;
}
.home-section{
    float:left;
    width: 10%;
}
.section{
    margin-left: 10%;
    float:left;
}
.photo{
    padding-right: 5px;
}

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.padme{
	padding-left: 20px !important;
}